@font-size{
    font-family: 'BallparkWeiner';
    src: url('../polices/ballpark.eot');
    src: url('../polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('../polices/ballpark.woff') format('woff'),
         url('../polices/ballpark.ttf') format('truetype'),
         url('../polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('../polices/dayrom.eot');
    src: url('../polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('../polices/dayrom.woff') format('woff'),
         url('../polices/dayrom.ttf') format('truetype'),
         url('../polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}


table{
    border-collapse: collapse;
}

td, th{
    border: 1px solid black;
}

/* Paragraphes en bleu par défaut */
p
{
    color: blue;
}

/* Nouvelles règles si la fenêtre fait au plus 1024px de large */
@media screen and (max-width: 1024px)
{
    p
    {
        color: red; 
        background-color: black;
        font-size: 1.2em;
    }
}