<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../css/monstyle.css">
		<title> Premiere page avec css</title>
	</head>
	<body>
		<section>
			<h1>Mon site avec css</h1>

			<h2>Premiere Partie</h2>

			<p class="introduction"> Bonjour et bienvenue sur mon site ! </p>
			<p>Pour le moment, mon site est <em> vide </em>. Patientez</p>

			<h2>Deuxieme Partie</h2>

			<p>Pour le moment la deuxieme partie de mon site est <em>amélioré</em>. Patientez</p>


			<p><img src="../images/zozor.png" class="imageflottante" alt="Image flottante" /> Ceci est un texte normal de paragraphe, écrit à la suite de l'image et qui l'habillera car l'image est flottante.</p>
			<p>Et quoniam apud eos ut in capite mundi morborum acerbitates celsius dominantur, ad quos vel sedandos omnis professio medendi torpescit, excogitatum est adminiculum sospitale nequi amicum perferentem similia videat, additumque est cautionibus paucis remedium aliud satis validum, ut famulos percontatum missos quem ad modum valeant noti hac aegritudine colligati, non ante recipiant domum quam lavacro purgaverint corpus. ita etiam alienis oculis visa metuitur labes.
			</p>
			<p class="dessou">Ceci est un texte normal de paragraphe, écrit à la suite de l'image et qui l'habillera car l'image est flottante.</p>
			<p class="test">Et quoniam apud eos ut in capite mundi morborum acerbitates celsius dominantur, ad quos vel sedandos omnis professio medendi torpescit, excogitatum est adminiculum sospitale nequi amicum perferentem similia videat, additumque est cautionibus paucis remedium aliud satis validum, ut famulos percontatum missos quem ad modum valeant noti hac aegritudine colligati, non ante recipiant domum quam lavacro purgaverint corpus. ita etiam alienis oculis visa metuitur labes.
			</p>
			</p>
		</section>
		
	</body>
</html>