<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Page 2</title>
</head>
<body>
	<p> <a href="test.html#mon_ancre">Renvoie </a></p>
	<p>
		<a href="mailto:mouad.sbaii92@gmail.com">Envoyez-moi un e-mail !</a>
	</p>

	<h2> Ceci est un paragraphe dedié aux tests des images </h2>
	<p>
		Premier paragraphe avec image: <br/>

		<a href="../images/zozor.png" ><img src="../images/zozor_mini.png" alt="Une image de Zozor" title="Une image de Zozor" /></a>
	</p>

	<h2> Ceci est un test (paragraphe + figure)</h2>
	<p> Ceci est mon premier test alors <em>soyez indulgents</em> s'il vous plaît, j'apprends petit à petit comment cela marche. </p>
	<figure>
		<img src="../images/zozor.png" alt="Image">
		<figcaption> Figure 1 - Zozor l'animal</figcaption>
	</figure>

</body>
</html>